#nav_bar{
    padding:7px 20px ;
    background: rgb(6, 233, 17);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 27px;
    position:fixed;
    top: 0;
    right: 0;

}
#nav_bar:hover{
background-color: rgb(228, 9, 9);
}
body{
    background-color: rgb(210, 250, 250);
}
h2{
    color: rgb(219, 32, 32);
}
a{
    color: rgba(59, 114, 4, 0.63);
}
p{
    color: darkblue;
}
b{
    color: rgb(209, 4, 148);
}
table th tr{
  /*  background-color: blue;
    color: white;*/
    border:1px solid rgb(4, 138, 216);
}

